In [237]:
import pandas as pd

In [238]:
df = pd.read_csv('data.csv')

In [239]:
df.head(5)

,DATE,TIME,STATUS,NAME,TYPE,SOURCE,PRESENT,TECHNOLOGY,CYCLE_COUNT,VOLTAGE_MIN_DESIGN,VOLTAGE_NOW,CURRENT_NOW,CHARGE_FULL_DESIGN,CHARGE_FULL,CHARGE_NOW,CAPACITY,CAPACITY_LEVEL,MODEL_NAME,MANUFACTURER,SERIAL_NUMBER
0,07/30/23,22:57:13,Active,BAT0,Battery,Charging,1,Li-ion,0,11400000,11602000,13000,3684000,1814000,610000,33,Normal,DELL-FDRHM08,LGC-LGC3.65,34838.0
1,07/30/23,22:53:45,Active,BAT0,Battery,Discharging,1,Li-ion,0,11400000,11511000,174000,3684000,1814000,610000,33,Normal,DELL-FDRHM08,LGC-LGC3.65,34838.0
2,07/30/23,22:08:34,Active,BAT0,Battery,Discharging,1,Li-ion,0,11400000,11660000,12000,3684000,1814000,631000,34,Normal,DELL-FDRHM08,LGC-LGC3.65,34838.0
3,07/30/23,22:08:21,Active,BAT0,Battery,Discharging,1,Li-ion,0,11400000,11976000,3684000,1814000,630000,34,Normal,DELL-FDRHM08,LGC-LGC3.65,34838,NaN
4,07/30/23,21:52:34,Active,BAT0,Battery,Charging,1,Li-ion,0,11400000,11819000,1051000,3684000,1814000,358000,19,Normal,DELL-FDRHM08,LGC-LGC3.65,34838.0

In [240]:
df.dropna(subset=["SERIAL_NUMBER"],inplace=True)

In [241]:
yt = df.drop(columns=["TECHNOLOGY","NAME","TYPE","PRESENT","CYCLE_COUNT","MODEL_NAME","MANUFACTURER","SERIAL_NUMBER","VOLTAGE_MIN_DESIGN","VOLTAGE_NOW","CURRENT_NOW","CHARGE_FULL_DESIGN","CHARGE_FULL","CHARGE_NOW"])

In [242]:
yt.head(5)

       DATE      TIME     STATUS        SOURCE CAPACITY CAPACITY_LEVEL
0  07/30/23  22:57:13     Active      Charging       33         Normal
1  07/30/23  22:53:45     Active   Discharging       33         Normal
2  07/30/23  22:08:34     Active   Discharging       34         Normal
4  07/30/23  21:52:34     Active      Charging       19         Normal
5  07/30/23  21:49:56  Suspended  Not-charging       17         Normal

In [243]:
yt["DATE"] = pd.to_datetime(yt["DATE"],format='%m/%d/%y')

In [244]:
curr_date=yt["DATE"][0]
curr_date=pd.to_datetime(curr_date)

In [245]:
th_bef = curr_date - pd.DateOffset(days=3)
th_bef

Timestamp('2023-07-27 00:00:00')

In [246]:
filtered_yt = yt.loc[(yt["DATE"]>=th_bef) & (yt["DATE"]<=curr_date)]

In [247]:
filtered_yt

          DATE      TIME     STATUS        SOURCE CAPACITY CAPACITY_LEVEL
0   2023-07-30  22:57:13     Active      Charging       33         Normal
1   2023-07-30  22:53:45     Active   Discharging       33         Normal
2   2023-07-30  22:08:34     Active   Discharging       34         Normal
4   2023-07-30  21:52:34     Active      Charging       19         Normal
5   2023-07-30  21:49:56  Suspended  Not-charging       17         Normal
..         ...       ...        ...           ...      ...            ...
314 2023-07-27  07:44:27     Active      Charging       32         Normal
315 2023-07-27  06:09:34     Active   Discharging       89         Normal
316 2023-07-27  06:08:50     Active   Discharging       89         Normal
317 2023-07-27  06:08:09     Active   Discharging       89         Normal
319 2023-07-27  05:47:23     Active      Charging       79         Normal

[270 rows x 6 columns]

In [248]:
filtered_yt = filtered_yt.reset_index(drop=True)

In [249]:
filtered_yt["DATE"][0]

Timestamp('2023-07-30 00:00:00')

In [250]:
filtered_yt.to_csv("recent_3_days.csv",index=False)

In [251]:
def conv_html(ip,output):
    df = pd.read_csv(ip)
    html_rows = []
    for i,rows in df.iterrows():
        if i==0:
            html_rows.append("<tr>")
            for h in df.columns:
                html_rows.append(f"<th>{h}</th>")
            html_rows.append("</tr>")

        status_class = 'recent-usage-status' if rows["STATUS"] == "Active" or rows["STATUS"] == "Suspended" else ''
        html_row = f"<tr><td>{rows.DATE}</td><td>{rows.TIME}</td><td class={status_class}>{rows.STATUS}</td><td>{rows.SOURCE}</td><td>{rows.CAPACITY}</td><td>{rows.CAPACITY_LEVEL}</td></tr>"
        html_rows.append(html_row)
    html_table = '<table>' + '\n'.join(html_rows) + '</table>'

    with open(output,'w') as f:
        f.write(html_table)

In [252]:
conv_html("recent_3_days.csv","a.html")